<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

   <div class="container">
      <h1>Tree Playground</h1>
      <h2>Login</h2>
      <% if (err) { %> <p class="text-danger">Invalid username or password.</p><% } %>
      <form class="tp-form" name="loginForm" method="POST" action="/login">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control" id="usernameInput" name="username"
          placeholder="Username" value="<%= username %>" required>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="passwordInput" name="password"
          placeholder="Password" value="<%= password %>" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
   </div>

</body>
</html>
